*{
    font-family: 'Roboto', sans-serif;
}
.nav{
    background-color:dimgray; 
    border-radius: solid 2px;
    margin: 1px;
    height: 80px;
    display: flex;
    justify-content:space-between;
    align-items: baseline;
    box-shadow: 2px 2px 2px black;
    border-radius: 5px;
}
h1{
margin: 15px;
font-weight: 900;
color: white;
}


.nav-links{
    display: flex;
    margin: 0px 20px 0px 0px;
    padding: 0px;
    
 
}
li{
    list-style-type: none;   
    color: white;
  
}

 a{
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
}
li a:hover {
    background-color:cadetblue;
}
.btn:hover {
    background-color:wheat;
    
}
.active{
    font-weight: 900;
}

.btn{
    border-radius: 1px;
    text-align: center;
    background-color:cadetblue;
    box-shadow: 2px 2px 2px black;  
    padding: 14px 16px;
    display: flex;
    border: 5px;
    margin: 5px 50px 0px 50px; 
}
